.qna{
    position: relative;
    background-color: white;
    max-width: 780px;
    border-radius: 16px;
    margin: 0 50px;
    margin-bottom: 25px;
    padding: 24px;
}

.question{
    font-size: 20px;
    font-weight: 700;
    color: #0B1426;
}
.answer{
    font-size: 16px;
    font-weight: 500;
    color: #3E424A;
}

@media screen and (max-width:647px) {
    .qna{
        margin: 0px;
        background-color: white;
        border-radius: none;
    }
}