
.nav{
    background-color: white;
    
}
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    margin: 0 25px;
}

.menubar{
    display: flex;
    align-items: center;
    /* margin: 0 25px; */
    
}
.menuitems{
    display: flex;
    
    
}
.menuitems>ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    
}
.signin{
    margin-left: 5px;
    padding-left: 4px;
    align-items: center;
    
}
.signin>button{
    color: #0052FE;
    width: 112px;
    height: 40px;
    border: 1px solid #0052FE;
    font-weight: 600;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;

}
.signin>button:hover{
    color: white;
    background-color: #0052FE;
}

.menuitems ul li{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    
    
}
